{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>
    {{ people.username }} 
    {% if not user.is_anonymous and user != people %}
      <!-- 만약 현재 접속한 유저가 해당 페이지의 유저를 이미 팔로우 한 경우 following else follow -->
      {% if user in people.follows.all %}<a class="btn btn-outline-primary" href="{% url 'accounts:follow' people.id %}">Following</a>
      {% else %}<a class="btn btn-primary" href="{% url 'accounts:follow' people.id %}">Follow</a>{% endif %}
    {% endif %}
  </h1>
  
  <p>{{ people.first_name }} {{ people.last_name }}</p>
  <strong>{{ people.profile.nickname }}</strong>
  <p>{{ people.profile.description }}</p>
  {% if user == people %}
  <a class="btn btn-info" href="{% url 'accounts:update' %}">회원 정보 변경</a>
  <a class="btn btn-info" href="{% url 'accounts:password' %}">비밀번호 변경</a>
  <a class="btn btn-danger" href="{% url 'accounts:delete' %}">회원 탈퇴</a>
  {% endif %}
  
  <div class="row">
    {% for post in people.post_set.all %}
    <div class="col-4">
      <img src="{{ post.image.url }}" class="img-fluid">
    </div>
    {% endfor %}
  </div>
  
  <strong>followers</strong>
  <p>{% for person in people.follows.all %}{{ person.username }} {% endfor %}</p>
</div>
{% endblock %}